/**
  @import "~bootstrap/scss/bootstrap";
**/

.slide{
  display: none
}
.active-slide{
  display: inline-block;
}

.form-check-label {
    white-space:nowrap;
    font-weight: unset;
}

.wrappable {
    white-space:normal;
}
